@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.cursive {
    font-family: "Cedarville Cursive", cursive;
}

.Welcome-text {
    background: linear-gradient(0deg,
            rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.4)),
        linear-gradient(90.01deg, #9cfffa 0.01%, #5aa5d6 50.01%, #2493fa 100%);
    background-blend-mode: normal, screen;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Welcome-box {
    isolation: isolate;
    overflow: hidden;
    align-items: center;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    border-radius: 32px;
    box-shadow: inset 0 -7px 11px #2493fa1f;
    display: flex;

    position: relative;
    width: -moz-max-content;
    transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow;
}

.button-primary {
    background: linear-gradient(180deg,
            rgba(36, 147, 250, 0) 0%,
            rgba(36, 147, 250, 0.32) 100%),
        rgba(36, 147, 250, 0.12);
    box-shadow: inset 0 0 12px #2493fa3d;
}

.button-primary:hover {
    background: linear-gradient(180deg,
            rgba(36, 147, 250, 0) 0%,
            rgba(36, 147, 250, 0.42) 100%),
        rgba(36, 147, 250, 0.24);
    box-shadow: inset 0 0 12px #2493fa70;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

/* This styles the scrollbar track (the part the thumb slides along) */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* This styles the scrollbar thumb (the draggable element) */
::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
}

/* Changes the thumb color on hover or when being clicked */
::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

/* This styles the scrollbar itself (width, height) */
::-webkit-scrollbar {
    width: 10px;
}